@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Public Sans", sans-serif;
  font-weight: 300;
  overflow-x: hidden;
}

h1,
h2,
h3 {
  font-weight: 300;
  line-height: 1.15;
  color: $darkBlue;
}
h1 {
  font-size: 37px;
}
h2 {
  font-size: 32px;
  margin-bottom: 32px;
  @include breakpoint-up(large) {
    font-size: 40px;
    margin-bottom: 40px;
  }
}
p {
  line-height: 1.5;
  margin-bottom: 36px;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1110px;
  margin: 0 auto;
  &--pall {
    padding: 70px 24px;
  }
  &--py {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  &--px {
    padding-left: 24px;
    padding-right: 24px;
  }
  &--pr {
    padding-right: 24px;
  }
  &--pb {
    padding-bottom: 70px;
  }
  &--pl {
    padding-left: 24px;
  }
}
// flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }
  &-jc-c {
    justify-content: center;
  }
  &-ai-c {
    align-items: center;
  }
}

button,
.button {
  display: inline-block;
  white-space: nowrap;
  background-image: linear-gradient(to right, $limeGreen, $brightCyan);
  padding: 15px 35px;
  border-radius: 50px;
  color: $white;
  font-weight: 400;
  font-size: $font-sm;
  opacity: 1;
  transition: all 0.5s;
  &:hover {
    opacity: 0.7;
  }
}